<% provide(:title, @shibe.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @shibe %>
        <%= @shibe.name %>
      </h1>
    </section>
  </aside>
</div>