<footer class="footer">
  <small>
    <ul>
    <li>Donate to me:</li>
    <li>Donate to my DTB address:</li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>