<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container" style="postion:relative">
          <div class = nav style="float:left"><%= link_to "Doge the Bell", root_path, id: "logo" %></div>
          <div style="padding:5px; float:left"> 
          	<img src="http://i.imgur.com/kpUeAee.png" >
          </div>
          <nav>
          	
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "FAQ",    faq_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>